  /* ======================================================= 
  ============ style css starts here ============ 
  ======================================================= */

  .UserProfileSettingnavbar {
      display: none;
  }



/* main css starts here */

  .UserProfileSettingMain {
      width: 1200px;
      height: 100%;
      margin: 25px auto 45px auto;
      display: flex;
      flex-direction: row;
  }

  #UserProfileSettingMainCardLeftSide {
      display: none;
  }

  .UserProfileSettingMainCardLeft {
      width: 360px;
      height: 636px;
  }

  .UserProfileSettingMainCardRight {
      border: 1px solid #E5E5E5;
      width: 830px;
      min-height: 636px;
      height: 90%;
      margin-left: 10px;
      background-color: white;
      border-radius: 10px;
      position: relative;
  }

  #UserProfileSettingMainHideCorss {
      cursor: pointer;
      display: none;
  }



/* PersonalINFo.js css starts here */

  .personalInfoMaindiv {
      padding-left: 10px;
      border-radius: 7px;
      display: flex;
      height: 636px;
      flex-direction: column;
  }

  .personalInfoMaindivDiv2Box0 {
      margin: 10px 0px 0px 0px;
  }


  .personalInfoMaindivDiv1 {
      display: flex;
      margin: 10px 0px 0px 10px;
  }



  .personalInfoMaindivDiv1 h1 {
      font-size: 22px;
  }



  .personalInfoMaindivDiv1 span {
      margin: 5px 0px 0px 10px;
      color: #1159E5;
      cursor: pointer;
  }



  .personalInfoMaindivDiv2 {
      width: 100%;
      height: 80px;
      display: flex;
      margin: 10px 0px 15px 10px;
      flex-direction: row;
      font-size: 14px;
  }



  .personalInfoMaindivDiv2Box {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .personalInfoMaindivDiv2BoxLabeltitle {
      font-size: 22px;
      font-weight: 600;
  }

  .personalInfoMaindivDiv2Inputradiodiv {
      height: 70px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
  }



  .personalInfoMaindivDiv2Inputradiodiv1 {
      display: flex;
      margin: -10px 0px 0px -135px;
      flex-direction: row;
      width: 390px;
      transform: scale(0.4);
      height: 50px;
      position: relative;
  }



  .personalInfoMaindivDiv2Inputradiodiv2 {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      width: 270px;
      font-size: 14px;
      height: 50px;
      position: relative;
      justify-content: space-around;
  }

  .personalInfoMaindivDiv2Inputradiodiv2 span {
      margin-top: 10px;
      margin-left: 5px;
      font-size: 35px;
  }



  .personalInfoMaindivDiv2 label {
      width: 100%;
      margin: 0px 0px 10px 0px;
  }



  .personalInfoMaindivDiv2 input {
      width: 80%;
      height: 48px;
      border-radius: 4px;
      cursor: not-allowed;
      border: 1px solid #E5E5E5;
      padding: 0px 10px 0px 10px;
      color: gray;
      outline: none;
  }



  .personalInfoMaindivDiv3 {
      width: 280px;
      height: 48px;
      display: none;
      margin: 30px 0px 0px 10px;
  }



  .personalInfoMaindivDiv3Updatebtn {
      border: none;
      width: 132px;
      height: 48px;
      border-radius: 4px;
      padding: 4px 10px;
      color: white;
      cursor: pointer;
      background-color: #1159E5;
      margin-right: 8px;
  }

  .personalInfoMaindivDiv3Updatebtn:active {
      background-color: #1159e573;
  }



  .personalInfoMaindivDiv3Cancelbtn {
      border: 1px solid black;
      width: 132px;
      height: 48px;
      cursor: pointer;
      border-radius: 4px;
      padding: 4px 10px;
      color: black;
  }

  .personalInfoMaindivDiv3Cancelbtn:active {
      background-color: rgba(92, 90, 90, 0.288);
  }

  /* ManageAddress.js css starts here */


  .manageAddressMaindiv {
      display: flex;
      min-height: 636px;
      flex-direction: column;
      overflow: hidden;
  }

  .manageAddressMaindivDiv1 {
      width: 790px;
      height: 42px;
      display: flex;
      margin: 20px 0px 0px 20px;
      flex-direction: row;
      justify-content: space-between;
  }

  .manageAddressMaindivDiv1 h1 {
      margin: 0px 0px 0px 0px;
      font-size: 22px;
      padding-top: 10px;
  }

  .manageAddressMaindivDiv1Addnewuser {
      margin: 0px 0px 0px 0px;
      color: #598CEE;
      border: 1px solid #598CEE;
      cursor: pointer;
      position: relative;
      padding: 12px 30px;
      border-radius: 5px;
  }

  .manageAddressMaindivDiv1Addnewuser:hover {
      background-color: #1159E5;
      color: white;

  }

  .manageAddressMaindivDiv2 {
      width: 95%;
      max-width: 790px;
      margin: 20px 0px 0px 20px;
      height: auto;
      padding: 10px 0px 10px 0px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      justify-content: space-between;
  }

  /* ProfileCard.js css starts here */

  .profileCardDiv {
      width: 360px;
      height: 88px;
      border-radius: 10px;
      border: 1px solid #E5E5E5;
      display: flex;
      overflow: hidden;
      flex-direction: row;
      position: relative;
      background: linear-gradient(to right, #BBCEFF 0%, #FBE3BF 100%);
  }


  .profileCardImage {
      width: 50px;
      height: 50px;
      position: absolute;
      border-radius: 333px;
      top: 16px;
      left: 16px;
      overflow: hidden;
  }

  .profileCardText {
      position: absolute;
      margin: 0px;
      top: 18px;
      left: 84px;
      width: 193px;
      height: 62px;
      margin-left: 2px;
  }

  .profileCardHello {
      margin: 0px;
      font-size: 15px;
  }

  .profileCardName {
      margin-top: 0px;
      font-weight: 700;
      font-size: 25px;
  }
   /*MyProfileCard.js css starts here */

  .myprofileOrMyorderCardDiv {
      margin-top: 10px;
      width: 360px;
      height: 264px;
      border-radius: 10px;
      border: 1px solid #E5E5E5;
      background-color: white;
      position: relative;
  }

  .myprofileOrMyorderCardTitle {
      position: absolute;
      left: 10px;
      margin-top: 5px;
      width: 76px;
      height: 18px;
      font-weight: 600;
      font-size: 14px;
  }

  .myprofileOrMyorderCardBox {
      margin: 25px 0px 0px 0px;
      width: 328px;
      height: 238px;
      display: flex;
      flex-direction: column;
  }

  .navLink {
      text-align: start;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 5px 0px 0px 20px;
      color: black;
      padding: 0px 0px 5px 0px;
      width: 90%;
      border-radius: 4px;
      height: 52px;
      font-size: 20px;
      padding-left: 30px;
  }

  .navLink:hover {
      background-color: #3f73ea;
      color: #E1EBFF;
  }

  .navLink.active {
      cursor: pointer;
      background-color: #E1EBFF;
      color: #3f73ea;
  }

  /* Nothing.jsx css starts here */


  .nothing {
      width: 100%;
      min-height: 636px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .nothingTitle {
      margin-top: 20px;
      width: 100%;
      height: 40px;
  }

  .nothingTitle p {
      font-weight: 600;
      font-size: 22px;
      margin: 0px 0px 0px 20px;
  }

  .nothingImage {
      width: 206px;
      margin: 30px auto auto auto;
      height: 206px;
  }

  .nothingheadline {
      width: 514px;
      height: 84px;
      font-size: 18px;
      margin: -70px auto auto auto;
      text-align: center;
  }

  .nothingButton {
      margin: -70px auto auto auto;
      border: 2px solid #3f73ea;
      width: 161px;
      background-color: #6d95f32a;
      border-radius: 33px;
      cursor: pointer;
      height: 48px;
      display: flex;

  }

  .nothingButton p {
      margin: auto;
      color: #3f73ea;
  }

  /* AddressCard.js css starts here */

  .addressCardDiv {
      position: relative;
      border: 1px solid #e5e5e5;
      width: 387px;
      height: 194px;
      text-align: center;
      border-radius: 4px;
  }


  .addressCardDivIcon {
      position: absolute;
      font-size: 30px;
      top: 12px;
      left: 4px;
  }

  .addressCardDivTopdiv {
      width: 250px;
      margin: 10px 0px 0px 40px;
      display: flex;
      color: #434343;
      flex-direction: column;
      height: 100px;
  }

  .addressCardDivTopdiv h1 {
      font-size: 16px;
      text-align: start;
  }

  .addressCardDivTopdiv p {
      font-size: 14px;
      margin-top: 5px;
      text-align: start;
  }

  .addressCardDivBottomdiv {
      width: 260px;
      margin: 10px 0px 0px 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 44px;
  }

  .addressCardDivBottomdiv .btn {
      cursor: pointer;
      width: 130px;
      height: 45px;
      display: flex;
      padding: 14px 10px;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #1159e5;
      border: 1px solid #1159e5;
      border-radius: 4px;
  }

  .addressCardDivBottomdiv .btn.primary {
      background-color: #1159e5;
      color: white;
      border: 1px solid white;
  }

  .addressCardDivBottomdivEdit {
      cursor: pointer;
      border: 1px solid #6f7376;
      width: 45px;
      border-radius: 4px;
      padding: 4px;
      font-size: 25px;
      display: flex;
      color: gray;
      justify-content: center;
      align-items: center;
      height: 45px;
  }

  .addressCardDivBottomdivDelete {
      cursor: pointer;
      border: 1px solid #ff6543;
      width: 45px;
      border-radius: 4px;
      color: #ff6543;
      padding: 4px;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
  }

    /* AddNewAddressForm.js css starts here */


  .addNewAddressMainDiv {
      height: 850px;
      position: fixed;
      left: 0;
      display: none;
      background-color: rgb(0 0 0 / 57%);
      top: 0;
      z-index: 10;
      overflow: hidden;
      width: 100%;

  }



  .addNewAddressDiv {

      width: 400px;
      height: 755px;
      position: fixed;
      right: 0;
      background-color: white;
      top: 0px;
  }

  .addNewAddressInnerdiv {
      width: 340px;
      margin: auto;
      display: flex;
      flex-direction: column;
      height: 736px;
  }

  .addNewAddressInnerdivDiv1 {
      width: 100%;
      height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0px 0px 0px;
  }

  .addNewAddressInnerdivDiv1 h1 {
      margin-top: 0;
      font-size: 16px;
  }

  .addNewAddressInnerdivDiv1 div {
      font-size: 20px;
      cursor: pointer;
      margin-top: -2px;
      font-weight: 900;
  }

  .addNewAddressInnerdivMapdiv {
      width: 100%;
      overflow: hidden;
      height: 215px;
      margin: 10px 0 0 0;
  }

  .addNewAddressInnerdivInputsdiv {
      width: 100%;
      height: 301px;
      margin: 10px 0 0 0;
  }

  .addNewAddressInnerdivInputsdivInputtext {
      width: 93.5%;
      padding-right: 10px;
      margin-top: 10px;
      padding-left: 10px;
      border-radius: 8px;
      height: 52px;
      border: 1px solid #c3c7d2;
  }

  .addNewAddressInnerdivInputsdivInputtextarea {
      margin-top: 8px;
      width: 93.5%;
      padding: 10px;
      border-radius: 8px;
      height: 115px;
      border: 1px solid #c3c7d2;
  }

  .addNewAddressInnerdivLast2div {
      width: 205px;
      height: 55px;
      margin: 40px 0px 0px 0px;
  }

  .addNewAddressInnerdivLast2div h1 {
      font-size: 12px;
  }

  .addNewAddressInnerdivLast2div div {
      display: flex;
      margin-top: 10px;
      flex-direction: row;
  }

  .addNewAddressInnerdivLast2div p {
      cursor: pointer;
      border: 1px solid #00549220;
      width: 64px;
      border-radius: 25px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      font-size: 12px;
  }

  .addNewAddressInnerdivBtndiv {
      width: 100%;
      height: 38px;
      padding: 11px 0;
  }

  .addNewAddressInnerdivBtndiv button {
      cursor: pointer;
      border: none;
      background-color: #1159e5;
      color: white;
      font-size: 14px;
      padding: 4px 10px;
      border-radius: 4px;
      width: 340px;
      height: 56px;
  }
    /* ProductTrackCard.jsx css starts here */

  .productTrackCardTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px auto auto auto;
      height: 48px;
      width: 100%;
  }

  .productTrackCardTop h1 {
      margin: 13px;
      font-weight: 500;
      height: 28px;
      font-size: 22px;
      width: 111px;
  }

  .productTrackCardTop div {
      margin-right: 20px;
      height: 48px;
      width: 159px;
  }

  .productTrackCardTop .dropdown {
      border: 1px solid grey;
      border-radius: 7px;
      margin-right: 20px;
      cursor: pointer;
      position: relative;
      display: inline-block;
  }

  .productTrackCardTop .dropbtn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 45px;
      width: 155px;
      font-size: 18px;
      padding: 12px 10px 10px 10px;
  }

  .productTrackCardTop .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }

  .productTrackCardTop .dropdown-content a {
      color: black;
      background-color: #f7f7f7;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .productTrackCardTop .dropdown-content a:hover {
      background-color: #cdcccc;
  }

  .productTrackCardTop .dropdown:hover .dropdown-content {
      display: block;
  }

  .productTrackCardTop .dropdown:hover .dropbtn {
      background-color: #f1f1f1;
  }

  .productTrackCard {
      margin-top: 15px;
      overflow: hidden;
      width: 100%;
      font-size: 16px;
      color: #434343;
      font-weight: 600;
  }

  .productTrackCard p {
      margin-left: 20px;
  }

  .productTrackCardHeaddiv {
      border-bottom: 1px solid rgba(128, 128, 128, 0.311);
      margin-top: 10px;
      height: 220px;
      width: 100%;
  }

  .productTrackCardHeadInnerdiv {
      margin: auto;
      height: 197px;
      width: 780px;
      border-radius: 7px;
      padding: 0px 5px 10px 5px;
  }

  .productTrackCardHeadInnerdiv1 {
      border-bottom: 1px dashed gray;
      height: 118px;
      display: flex;
      font-weight: 400;
      flex-direction: row;
      width: 100%;
  }

  .productTrackCardHeadInnerdiv1Img {
      margin: auto;
      width: 118px;
      height: 100px;
  }

  .productTrackCardHeadInnerdiv1Text {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 24px;
  }

  .productTrackCardHeadInnerdiv1TextTitle {
      margin: 15px 0px 0px 0px;
      width: 648px;
      font-size: 16px;
      height: 50px;
      overflow: hidden;
  }

  .productTrackCardHeadInnerdiv1TextDetail1 {
      margin: 2px 0px 0px 0px;
      color: gray;
      height: 16px;
      overflow: hidden;
      font-size: 12px;
  }

  .productTrackCardHeadInnerdiv1TextDetail1 span {
      font-weight: 500;
      color: black;
  }

  .productTrackCardHeadInnerdiv1TextDetail2 {
      margin: 2px 0px 0px 0px;
      color: gray;
      height: 16px;
      overflow: hidden;
      font-size: 12px;
  }

  .productTrackCardHeadInnerdiv1TextDetail2 span {
      font-weight: 500;
      color: black;
  }

  .productTrackCardHeadInnerdiv2 {
      margin-top: 21px;
      align-items: center;
      height: 48px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .productTrackCardHeadInnerdiv2div1 {
      display: flex;
      flex-direction: column;
      height: 35px;
      width: 135px;

  }

  .productTrackCardHeadInnerdiv2div1 p {
      font-weight: 500;
      margin: 0px;
      color: #5F5F5F;
      font-size: 12px;
  }

  .productTrackCardHeadInnerdiv2div1 h3 {
      font-weight: 500;
      margin: 0px;
      color: black;
      font-size: 14px;
  }

  .productTrackCardHeadInnerdiv2div2 {
      display: flex;
      flex-direction: column;
      height: 34px;
      margin-right: 280px;
      width: 90px;
  }

  .productTrackCardHeadInnerdiv2div2 p {
      margin: 0px;
      color: #5F5F5F;
      font-size: 12px;
  }

  .productTrackCardHeadInnerdiv2div2 h3 {
      margin: 0px;
      color: #1159E5;
      font-size: 14px;
  }

  .productTrackCardHeadInnerdiv2div3 {
      border: 2px solid #1159E5;
      border-radius: 7px;
      height: 48px;
      width: 142px;
      display: flex;
      color: #1159E5;
      flex-direction: row;
      align-items: center;

  }

  .productTrackCardHeadInnerdiv2div3:hover {
      background: #1159E5;
      color: white;
      cursor: pointer;
  }
 
    /* WishlistProductCard.jsx css starts here */



  .wishlistProductCardContainer {
      width: 100%;
      height: 100%;
      min-height: 600px;
      border-radius: 7px;
      padding: 20px 20px;
  }

  .wishlistProductCardContainerHeadline {
      display: inline;
      font-weight: 500;
      font-size: 22px;
  }

  .wishlistProductCardInnderdiv {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }

  .wishlistProductCard {
      cursor: pointer;
      border-radius: 7px;
      margin-top: 10px;
      width: 260px;
      height: 306px;
  }

  .wishlistProductCardImg {
      width: 260px;
      height: 158px;
  }

  .wishlistProductCardInnerImg {
      padding-top: 5px;
      margin-left: 10px;
      position: relative;
      float: left;
      width: 38.06px;
      height: 36px;
      background-size: 26px;
      background-size: cover;

  }

  .wishlistProductCardInnerImg p {
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      color: white;
  }

  .wishlistProductCardDetails {
      padding: 15px 15px;
      width: 260px;
      display: flex;
      flex-direction: column;
      height: 148px;
  }

  .wishlistProductCardDetails h6 {
      font-size: 11px;
      font-weight: 700;
  }

  .wishlistProductCardDetails h5 {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
  }

  .wishlistProductCardDetails h4 {
      font-size: 13px;
      display: flex;
      width: 150px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      margin: 5px 0px 0px 0px;
  }

  .wishlistProductCardDetails h3 {
      margin-top: 5px;
      font-size: 17px;
      font-weight: 700;
  }

  .wishlistProductCardDetails h2 {
      margin-top: 5px;
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
  }

    /* MyReviews.jsx css starts here */

    .myReviews {
      border-radius: 7px;
      width: 100%;
      height: 100%;
      min-height: 600px;
      padding: 20px;
      display: flex;
      flex-direction: column;
  }

  .myReviews h1 {
      font-weight: 500;
      font-size: 22px;
  }

  .reviewcardMaindiv {
      background-color: white;
      width: 787px;
      height: 273px;
      padding: 16px;
      position: relative;
  }

  .reviewcardMaindivReview {
      position: absolute;
      top: 2.83px;
      left: 702.5px;
      width: 84px;
      height: 34px;
  }

  .reviewcardMaindivReview h6 {

      position: absolute;
      font-weight: 500;
      right: 0;
      margin: 0;
      font-size: 12px;
      color: #7D7D7D;
  }

  .reviewcardMaindivDate {
      position: absolute;
      font-size: 14px;
      right: 0;
      top: 15px;
  }

  .reviewcardMaindivBorder {
      width: 102%;
      height: 1px;
      border: 1px solid #B3B3B3;
  }

  .reviewcardMaindiv1 {
      background-color: white;
      width: 428px;
      height: 94px;
      display: flex;
      flex-direction: row;
      position: relative;
  }

  .reviewcardMaindiv1Productimg {
      width: 94px;
      height: 94px;
      background-size: 20px;
      border-radius: 7px;
      overflow: hidden;
  }

  .reviewcardMaindiv1Name {

      position: absolute;
      top: 0px;
      left: 110px;
      width: 90%;
      height: 24px;
      font-size: 16px;
  }

  .reviewcardMaindiv1Desc {

      height: 16px;
      font-size: 12px;
      width: 90%;
      color: #7D7D7D;
      position: absolute;
      top: 25px;
      left: 110px;
  }

  .reviewcardMaindiv1Stars {
      margin: 0px;
      position: absolute;
      width: 90%;
      height: 40px;
      top: 40px;
      left: 111px;
  }

  .reviewcardMaindiv2 {
      background-color: white;
      width: 671px;
      height: 146px;
      display: flex;
      flex-direction: column;
  }

  .reviewcardMaindiv2Comment {
      position: absolute;
      width: 90%;
      font-weight: 600;
      height: 16px;
      top: 102px;
      left: 115.5px;
      font-size: 14px;
  }

  .reviewcardMaindiv2About {
      position: absolute;
      width: 90%;
      height: 36px;
      top: 129px;
      left: 115.5px;
      font-size: 14px;
      color: #7D7D7D;
  }

  .reviewcardMaindiv2Imagebox {
      width: 330px;
      height: 74px;
      position: absolute;
      top: 174px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      left: 115.5px;
  }


  /* ======================================================= 
  ============ style css end here ============ 
  ======================================================= */



  /* ======================================================= 
============ media css starts here ============ 
======================================================= */
  @media only screen and (min-width: 1600px) {
      .container {
          width: 1600px;
      }
  }

  @media only screen and (max-width: 768px) {
      .UserProfileSettingnavbar {
          display: block;
          background-color: white;
          width: 103%;
          height: 40px;
      }

      .UserProfileSettinghamburger {
          display: block;
          font-size: 40px;
          color: rgba(92, 90, 90, 0.288);
          width: 40px;
          height: 40px;

      }
  }


  /* PersonalINFO.js media css starts here */

  @media only screen and (max-width: 768px) {
      .personalInfoMaindiv {
          width: 100%;
          height: 100%;
      }

      .personalInfoMaindivDiv1 {
          margin: -10px 0px 0px 0px;
      }

      .personalInfoMaindivDiv1 h1 {
          font-size: 18px;
      }

      .personalInfoMaindivDiv1 span {
          font-size: 13px;
      }

      .personalInfoMaindivDiv2 {
          flex-direction: column;
          margin: 10px 0px 0px 0px;
      }

      .personalInfoMaindivDiv2Inputradiodiv {
          margin: 185px 0px 0px 0px;
          width: 355px;
      }

      .personalInfoMaindivDiv2Inputradiodiv1 {
          margin: 0px 0px 0px -127px;
          transform: scale(0.4);
      }

      .personalInfoMaindivDiv2Inputradiodiv2 span {
          margin: 10px 10px 0px 10px;
      }

      .personalInfoMaindivDiv2 label {
          font-size: 14px;
          color: #5F5F5F;
          margin: 0px 0px 5px 0px;
      }

      .personalInfoMaindivDiv2 input {
          margin: 0px 0px 24px 0px;
          width: 95%;
      }

      .personalInfoMaindivDiv3 {
          display: flex;
          flex-direction: column;
          display: none;
          height: auto;
          width: 100%;
      }

      .personalInfoMaindivDiv2Box0 {
          margin: 180px 0px 0px 0px;
      }

      .personalInfoMaindivDiv3Updatebtn {
          margin: 0px 0px 10px -10px;
          width: 95%;
      }

      .personalInfoMaindivDiv3Cancelbtn {
          margin: 10px 0px 10px -10px;
          width: 95%;
      }
  }
    /* AddNewAddressForm.js media css starts here */

    @media only screen and (max-width: 768px) {
    .addNewAddressMainDiv {
        height: 100%;
    }
    .addNewAddressInnerdivDiv1{
        margin: 20px 0px 10px 0px;
    }
    .addNewAddressInnerdivLast2div div{
        margin-top: 10px;
    }}
   /* Nothing.jsx media css starts here */



  @media only screen and (max-width: 768px) {
      .nothing {
          width: 100%;
          height: 500px;
      }

      .nothingheadline {
          width: 100%;
          font-size: 13px;
      }

  }

    /* ManageAddress.js media css starts here */


  @media only screen and (max-width: 768px) {
      .manageAddressMaindiv {
          width: 100%;
      }

      .manageAddressMaindivDiv1 {
          width: 100%;
      }

      .manageAddressMaindivDiv1 h1 {
          margin: -5px;
      }

      .manageAddressMaindivDiv1Addnewuser {
          padding-top: 13px;
          width: 100px;
          margin-right: 35px;
          height: 11px;
          overflow: hidden;
          padding-bottom: 24px;
      }

      .manageAddressMaindivDiv2 {
          width: 100%;
          height: auto;
      }
  }

    /* main.js media css starts here */



  @media only screen and (max-width: 768px) {
      .UserProfileSettingMain {
          width: 103%;
          height: auto;
          margin: 0px;
          display: flex;
          flex-direction: row;
          overflow: hidden;
          position: relative;
      }

      #UserProfileSettingMainCardLeftSide {
          display: none;
          width: 100%;
          position: fixed;
          z-index: 10;
          left: 0;
          top: 0;
          height: 100%;
          background-color: rgb(1 1 1 / 36%);
      }

      .UserProfileSettingMainCardLeft {
          display: none;
          padding: 8px;
          width: 330px;
          height: 100%;
          overflow: hidden;
          position: fixed;
          right: 0px;
          top: 0px;
          z-index: 2;
          background: white;
      }

      .UserProfileSettingMainCardRight {
          z-index: 1;
          width: 100%;
          height: 100%;
          min-height: 636px;
          border-radius: 0px;
          padding: 16px;
          margin: 30px 0px 0px 0px;
      }

      #UserProfileSettingMainHideCorss {
          position: absolute;
          display: block;
          top: 10px;
          left: 10px;
          font-size: 35px;
          color: #CCCCCC;
          z-index: 10;
      }

      #UserProfileSettingMainHideDiv {
          display: none;
          z-index: 10;
      }
  }


    /* ProfileCard.js media css starts here */

  @media only screen and (max-width: 768px) {
      .profileCardDiv {
          width: 100%;
      }
  }


    /* ProfileCard.js media css starts here */


  @media only screen and (max-width: 768px) {
      .navLink {
          width: 90%;
          font-size: 20px;
          margin: 0px 0px 0px 15px;
      }

      .mainDiv {
          width: 100%;
      }
  }

    /* AddressCard.js media css starts here */


  @media only screen and (max-width: 768px) {
      .addressCardDiv {
          width: 90%;
          margin-top: 10px;
      }
  }

    /* AddNewAddressForm.js media css starts here */



  @media only screen and (max-width: 768px) {


      .addNewAddressDiv {
          width: 100%;
          height: 100%;
          position: absolute;
          right: 0;
          background-color: white;
          top: 0;
      }

  }

    /* ProductTrackCard.jsx media css starts here */


  @media only screen and (max-width: 768px) {

      .productTrackCardTopFather {
          border: 1px solid #E5E5E5;
          width: 100%;
          border-radius: 7px;
          margin: auto;
      }

      .productTrackCardTop {
          margin: 20px 0px 0px 0px;
      }

      .productTrackCardTop div {
          width: 119px;
      }


      .productTrackCardTop .dropbtn {
          width: 117px;
      }

      .productTrackCardTop .dropdown-content {
          min-width: 100px;
      }

      .productTrackCardTop .dropdown {
          margin-right: 10px;
      }

  }

    /* ProductTrackCard.jsx media css starts here */

  @media only screen and (max-width: 768px) {
      .productTrackCardHeaddiv {
          height: 480px;
      }

      .productTrackCardHeadInnerdiv {
          height: 476px;
          width: 90%;
          border-radius: 7px;
          padding: 0px 5px 10px 5px;
      }

      .productTrackCardHeadInnerdiv1 {
          border-bottom: 2px dashed gray;
          height: 290px;
          display: flex;
          font-weight: 400;
          flex-direction: column;
          width: 100%;
      }

      .productTrackCardHeadInnerdiv1Img {
          margin: auto;
          width: 167px;
          height: 167px;
      }

      .productTrackCardHeadInnerdiv1Text {
          display: flex;
          flex-direction: column;
          margin: 0px 0px 0px -16px;
      }

      .productTrackCardHeadInnerdiv1TextTitle {
          margin: 15px 0px 5px 0px;
          width: 248px;
          font-size: 16px;
          height: 60px;
          overflow: hidden;
      }

      .productTrackCardHeadInnerdiv1TextDetail1,
      .productTrackCardHeadInnerdiv1TextDetail2 {
          margin: 2px 0px 10px 0px;
          color: gray;
          height: 16px;
          overflow: hidden;
          font-size: 12px;
      }

      .productTrackCardHeadInnerdiv1TextDetail1 span,
      .productTrackCardHeadInnerdiv1TextDetail2 span {
          font-weight: 500;
          color: black;
      }

      .productTrackCardHeadInnerdiv2 {
          height: 148px;
          flex-wrap: wrap;
      }

      .productTrackCardHeadInnerdiv2div1 {
          height: 35px;
          width: 140px;
          display: inline;
      }

      .productTrackCardHeadInnerdiv2div2 {
          height: 34px;
          margin-right: 0px;
          width: 90px;
      }

      .productTrackCardHeadInnerdiv2div3 {
          width: 100%;
          justify-content: center;
      }
  }

    /* WishlistProductCard.jsx media css starts here */

  @media only screen and (max-width: 768px) {
      .wishlistProductCardInnderdiv {
          margin-top: 30px;
          align-items: center;
          display: flex;
          flex-direction: column;
      }
  }

    /* MyReviews.jsx media css starts here */

  @media only screen and (max-width: 768px) {
      .myReviews {
          width: 100%;
          height: 100%;
      }


      .reviewcardMaindiv {
          width: 296px;
          height: 460px;
          margin: 10px auto 10px auto;
          overflow: hidden;
          padding: 0px;

      }

      .reviewcardMaindivReview {
          position: absolute;
          top: 210px;
          left: 210px;
          width: 84px;
          height: 34px;
      }

      .reviewcardMaindivReview h6 {

          position: absolute;
          font-weight: 500;
          right: 0;
          margin: 0;
          font-size: 12px;
          color: #7D7D7D;
      }


      .reviewcardMaindiv1 {
          background-color: white;
          width: 296px;
          height: 276px;
          padding: 0px;
          display: flex;
          flex-direction: column;
          position: relative;
      }

      .reviewcardMaindiv1Productimg {
          height: 200px;
          width: 100%;
          margin: 0px auto 0px auto;


      }

      .reviewcardMaindiv1Name {
          padding: 0px;
          position: absolute;
          top: 210px;
          left: 0px;
          width: 90%;
          height: 24px;
          font-size: 16px;
      }

      .reviewcardMaindiv1Desc {

          height: 16px;
          font-size: 12px;
          width: 70%;
          overflow: hidden;
          height: 14px;
          color: #7D7D7D;
          position: absolute;
          top: 235px;
          left: 0px;
      }

      .reviewcardMaindiv1Stars {
          margin: 0px;
          position: absolute;
          width: 90%;
          height: 40px;
          top: 250px;
          left: 0px;
      }

      .reviewcardMaindiv2 {
          background-color: white;
          width: 100%;
          height: 180px;
          display: flex;
          flex-direction: column;
      }

      .reviewcardMaindiv2Comment {
          position: absolute;
          width: 90%;
          font-weight: 600;
          height: 16px;
          top: 290px;
          left: 0px;
          font-size: 14px;
      }

      .reviewcardMaindiv2About {
          position: absolute;
          width: 90%;
          height: 36px;
          top: 310px;
          left: 0px;
          font-size: 14px;
          color: #7D7D7D;
      }

      .reviewcardMaindiv2Imagebox {
          width: 260px;
          height: 74px;
          overflow: hidden;
          position: absolute;
          top: 360px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          left: 1px;
      }

      .reviewcardMaindiv2Imagebox img {
          margin-left: 10px;
      }

  }

  /* ======================================================= 
  ============ media css end here ============ 
  ======================================================= */